<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../预习/day10/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<!--
				if需要添加条件,else不需要加条件
			-->
			<p v-if='ok'>我是v-if</p>
			<p v-else>我是v-else</p>
			<!--
				show类似if,不支持else,只有if
			-->
			<p v-show="ok">我是v-show</p>
			<!--
				if-else
			-->
			<p v-if="code=='A'">我是A</p>
			<p v-else-if="code=='B'">我是B</p>
			<p v-else-if="code=='C'">我是C</p>
			<p v-else="code=='D'">我是D</p>
		</div>
	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el:'#app',
			data:{
				ok:true,//注意这里的,逗号,否则直接出错
				code:'B'
			}
		})
	</script>
</html>
<!--
	条件判断
-->