<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../预习/day10/js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="txt" />
			<p>输出文本内容: {{txt}}</p>
			<hr />
			<!--
				需要使用双向绑定,就必须使用v-model.
			-->
			<select v-model="sel">
				<option value="0">深圳</option>
				<option value="1">北京</option>
				<option value="2">上海</option>
			</select>
			{{sel}}
			<hr />
			<!--
				注册,或者安装软件的时候的用户协议,一般都是一个复选框.同意协议,默认是true,已勾选
			-->
			<input type="checkbox" v-model="danCh"/>同意协议
			{{danCh}}
			<hr />
			<!--
				如果是兴趣爱好,复选框就是多个.
			-->
			<input type="checkbox" v-model="duoCh" value="西瓜"/>西瓜
			<input type="checkbox" v-model="duoCh" value="苹果"/>苹果
			<input type="checkbox" v-model="duoCh" value="栗子"/>栗子
			{{duoCh}}
			<hr />
			<input type="radio" name="sex" v-model="sx" value="男"/>男
			<input type="radio" name="sex" v-model="sx" value="女"/>女
			{{sx}}
			<hr />
		</div>
	</body>
	<script type="text/javascript">
		var vn = new Vue({
			el:'#app',
			data:{
				txt:'',
				//在 实现下拉列表的时候,必须给一个默认值
				sel:0,
				//复选框如果只有一个,那么这个值必须是true或者false.
				danCh:true,
				//复选框有多个,这个值必须是数组类型
				duoCh:[],
				//sx是v-model的值
				sx:'男'
			},
		})
	</script>
</html>
<!--
	表单绑定:v-model双向数据绑定.自动选择更新
	实时更新.只要你在文本框输入值,直接就会显示出来
	v-model代替了原来的change事件
	注意:表单绑定就是v-model
	表单包括:text输入文本框,textarea大文本区域,radio单选按钮,checkbox复选框,
	select/option下拉复选框.
-->