<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../day10/js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<textarea v-model="tarea"></textarea>
			<h1>{{tarea}}</h1>
			<input type="checkbox" v-model="danCheck"/>同意用户协议
			<h1>{{danCheck}}</h1>
			<hr />
			<input type="checkbox" v-model="duoCheck" value="西瓜"/>西瓜
			<input type="checkbox" v-model="duoCheck" value="苹果"/>苹果
			<input type="checkbox" v-model="duoCheck" value="橘子"/>橘子
			<h1>{{duoCheck}}</h1>
			<input type="radio"  value="man"  v-model="sex"/>男
			<input type="radio"  value="lady"  v-model="sex"/>女
			<input type="radio"  value="pass"  v-model="sex"/>保密
			<h1>{{sex}}</h1>
		</div>
	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el:'#app',
			data:{
				tarea:'',
				danCheck:true,
				duoCheck:['西瓜','苹果','橘子'],
				sex:'lady'
			}
		})
	</script>
</html>
<!--
	可以使用v-model指令在表单input以及textarea元素上创建双向数据绑定.
	它会根据控件类型自动选取正确的方法更新元素
-->